mixin slide(pic)
  .swiper-slide.projects-sm-slider__item
    picture
      source(srcset='assets/img/projects-slider/project-01/p1-' + pic + '.jpg 1x, assets/img/projects-slider/project-01/p1-' + pic + '@2x.jpg 2x')
      img(src='assets/img/projects-slider/project-01/p1-' + pic + '.jpg' alt='Peak' srcset='assets/img/projects-slider/project-01/p1-' + pic + '@2x.jpg 2x')

//BEGIN projects-slider
.projects-sm-slider
  .swiper-wrapper
    +slide('1')
    +slide('2')
    +slide('3')
    +slide('4')
    +slide('5')

  .projects-sm-slider__btn.projects-sm-slider__btn--prev
    +svg('arr-down')
  .projects-sm-slider__btn.projects-sm-slider__btn--next
    +svg('arr-down')
//END   projects-slider