//BEGIN projects-slider
#projects-slider.projects-slider
  .swiper-wrapper
    include ../sections/projects/project-01
    include ../sections/projects/project-06
    include ../sections/projects/project-03
    include ../sections/projects/project-04
    include ../sections/projects/project-05

  .swiper-pagination
  .projects-slider__btn.projects-slider__btn--prev
    +svg('arr-down')
  .projects-slider__btn.projects-slider__btn--next
    +svg('arr-down')
//END   projects-slider