//BEGIN projects-slider
.projects-sm-slider
  .swiper-wrapper
    .swiper-slide.projects-sm-slider__item
      img(src="assets/img/projects-slider/temp-01.jpg" alt="Peak Construction")
    .swiper-slide.projects-sm-slider__item
      img(src="assets/img/projects-slider/temp-02.jpg" alt="Peak Construction")

  .projects-sm-slider__btn.projects-sm-slider__btn--prev
    +svg('arr-down')
  .projects-sm-slider__btn.projects-sm-slider__btn--next
    +svg('arr-down')
//END   projects-slider