//BEGIN top-slider
#top-slider.top-slider
  .swiper-wrapper
    .top-slider__slide.swiper-slide
      .top-slider__text.body-l Peak Construction Inc is a family-owned and operated business that really values our sterling reputation and provides the highest <a href="#services" class="top-slider__link scroll">quality workmanship.</a>
      .top-slider__title We have 20 years
      .top-slider__subtitle.h4 of hard-earned experience in the industry.
    .top-slider__slide.swiper-slide
      .top-slider__text.body-l Peak Construction Inc is a family-owned and operated business that really values our sterling reputation and provides the highest <a href="#services" class="top-slider__link scroll">quality workmanship.</a>
      .top-slider__title Hundreds of successful completed projects
      .top-slider__subtitle.h4 in interior renovation and exterior repairs.
    .top-slider__slide.swiper-slide
      .top-slider__text.body-l Peak Construction Inc is a family-owned and operated business that really values our sterling reputation and provides the highest <a href="#services" class="top-slider__link scroll">quality workmanship.</a>
      .top-slider__title 100% quality
      .top-slider__subtitle.h4 guarantee for all types of work.
  .swiper-pagination
//END   top-slider