.copyright {
  padding: 20px 0 20px 0;
  background-color: $yellow;

  @include min(1024) {
    padding: 30px 0 25px 0;
  }

  .container {
    display: flex;
    flex-direction: column;

    @include min(768) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.copyright__left,
.copyright__middle,
.copyright__right {
  width: 100%;
  margin-bottom: 10px;

  @include min(768) {
    width: 33.33%;
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  span,
  a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #070707;
  }
}

.copyright__left {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // margin-bottom: 15px;

  @include min(1024) {
    // justify-content: flex-start;
    // margin-bottom: 0;
  }

  span {
    margin-bottom: 10px;
    padding-right: 30px;

    &:last-child {
      margin-bottom: 0;
      padding-right: 0;

      @include min(1024) {
        padding-right: 10px;
      }
    }
  }
}

.copyright__middle {
  display: flex;
  flex-direction: column;
  span,
  a {
    margin-bottom: 10px;
    padding-right: 30px;

    &:last-child {
      margin-bottom: 0;
      padding-right: 0;

      @include min(1024) {
        padding-right: 10px;
      }
    }
  }
}

.copyright__right {
  display: flex;
  padding-right: 32px;

  @include min(768) {
    justify-content: flex-end;
  }
}
