.copyright {
  padding: 20px 0 20px 0;
  background-color: $yellow;

  @include min(1024) {
    padding: 30px 0 25px 0;
  }

  .container {
    display: flex;
    flex-direction: column;

    @include min(768) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.copyright__left,
.copyright__right {
  display: flex;
  width: 100%;

  @include min(768) {
    width: 50%;
  }

  span,
  a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #070707;
  }
}

.copyright__left {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-bottom: 16px;

  @include min(768) {
    justify-content: flex-start;
    padding-bottom: 0;
  }

  span {
    padding-right: 24px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.copyright__right {
  display: flex;
  span,
  a {
    padding-right: 16px;
    &:last-child {
      margin-left: auto;
      padding-right: 0;
    }
  }
}
