.footer {
  padding-top: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  background-color: $yellow;

  @include min(1024) {
    padding-top: 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include min(1024) {
      flex-direction: row;
    }
  }
}

.footer__left {
  width: 100%;

  @include min(1024) {
    width: 50%;
  }

  .section-title {
    margin-bottom: 50px;
  }
}

.footer__right {
  width: 100%;

  @include min(1024) {
    width: 50%;
  }
}

.footer__title {
  a {
    display: block;
    color: #070707;
  }
}

.footer__or {
  padding: 40px 0 35px 0;
  text-transform: uppercase;

  @include min(1024) {
    padding: 65px 0;
  }
}

.footer__form {
  padding-top: 15px;
}

.footer__input {
  font-size: 18px;
  line-height: 1.2;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 15px 10px 10px 0;
  letter-spacing: -.02em;
  color: #070707;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #070707;
  border-left: none;
  background-color: transparent;

  @include placeholder-color(#070707);
  @include min(768) {
    font-size: 20px;
    padding: 25px 15px 20px 0;
  }
}

.footer__form-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;

  @include min(576) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

.footer__form-bottom-text {
  margin-bottom: 20px;

  @include min(576) {
    max-width: 390px;
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.footer__form-btn {
  flex: none;
  padding: 0;
  border-color: #070707;
  background-color: transparent;
  box-shadow: none;

  span {
    color: #070707;
    border-color: #070707;
  }

  svg {
    fill: #070707;
  }

  &:hover {
    span {
      color: #070707;
    }

    svg {
      fill: #070707;
    }
  }
}
