.top {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: $black;

  .container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;

    @include min(1024) {
      flex-direction: row;
    }
  }
}

/* begin VIDEO */
.top__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(15, 15, 15, .75);
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translate(-50%, -50%);
    border: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .top iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .top iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

/* end   VIDEO */

/* begin LEFT */
.top__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include min(1024) {
    width: 50%;
    padding-right: 20px;
  }
}

.top__slider {
  width: 100%;
  padding-bottom: 30px;
}

.top__btn-down {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
  transition: .5s;
  border: 2px solid #fff;
  border-radius: 50%;

  @include min(1024) {
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin-bottom: 0;
  }

  &:hover {
    border-color: $yellow;

    svg {
      fill: $yellow;
    }
  }

  svg {
    position: relative;
    fill: #fff;
    width: 15px;
    height: 15px;
    transition: .5s;
    animation-name: arrAnim;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
}

/* end   LEFT */

/* begin RIGHT */
.top__right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 40px;

  @include min(1024) {
    width: 50%;
    padding-top: 20px;
  }
}

.top__title {
  font-family: $pp;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  margin-bottom: 20px;
  letter-spacing: -.03em;
  color: #fff;

  @include responsive-font(58, 44);
  @include min(1024) {
    width: 50%;
    max-width: 414px;
    margin-bottom: 60px;
  }
}

.top__subtitle {
  margin-bottom: 20px;
  color: #fff;

  @include min(1024) {
    width: 50%;
    max-width: 340px;
  }
}

.top__btn {
  margin-top: auto;
  margin-bottom: 60px;

  @include min(1024) {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $yellow;

    span {
      border-color: $yellow;
    }
  }
}

.top__licence {
  position: absolute;
  right: 0;
  bottom: -60px;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  color: #fff;

  @include min(1024) {
    bottom: 40px;
  }
}

.top__whatsapp {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;

  @include min(1024) {
    right: 40px;
    bottom: 40px;
  }
}

.top__whatsapp-text {
  font-size: 13px;
  position: relative;
  margin-bottom: 10px;
  padding: 16px;
  transition: opacity .5s;
  text-decoration: none;
  pointer-events: auto;
  color: #101010;
  border-radius: 6px 6px 0 6px;
  background-color: #dcf8c8;
  &::before {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    content: '';
    border-top: 10px solid #dcf8c8;
    border-left: 14px solid transparent;
  }
  span {
    display: block;
  }
}

.top__whatsapp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  pointer-events: auto;
  border-radius: 50%;
  background-color: #27d045;
}
/* end   RIGHT */
