//BEGIN about
#about.about.p-100
  .container
    //BEGIN about__header
    .about__header
      .section-title.caps all That you need in one company
      h2.title.h2 Peak Construction offers complete renovation and repairs. You need an experienced general contractor in Greater Sacramento Area who knows how to optimize project flow and meet deadlines to ensure you feel the least impact possible during the remodeling process.
    //END   about__header

    //BEGIN about__body
    .about__body
      .about__body-left
        .about__body-img
          img(src="assets/img/about/01.jpg" alt="Peak Construction")
        .about__body-img
          img(src="assets/img/about/02.jpg" alt="Peak Construction")

      .about__body-right
        .about__body-text
          p.body-l At Peak Construction, we listen to and understand our customers and strive to be your all-in-one renovation solution – from our first visit and estimate to the finished product, ours will be your easiest renovation ever.
          p.body-l Let’s get your project started with us!
        .about__down
          a(href="#repairs").about__down-btn.scroll
            +svg('arr-down')
          .about__down-text.caps Choose the renovation services you need
    //END   about__body
//END   about