//BEGIN construction
#construction.construction.p-100.bb
  .container
    //BEGIN construction__header
    .construction__header
      .section-title.caps Why Peak Construction
      h2.title.h2 If you are looking for a reliable and honest company that will go above and beyond to get your project completed on time and within budget, you're in the right place. By ordering our services, you will definitely get
    //END   construction__header

    ul.construction__list
      li.construction__item
        .construction__icon
          img(src="assets/img/gif/01.gif" alt="Peak Construction")
        .construction__title.h3 Perfect<br>final result
        .construction__text.body-s all renovation tasks will be taken care of by experienced professionals with 20 years of experience and perfect knowledge of materials. Our team has experience working with reputed interior designers on complex projects.
      li.construction__item
        .construction__icon
          img(src="assets/img/gif/02.gif" alt="Peak Construction")
        .construction__title.h3 Saving time<br>and effort
        .construction__text.body-s our team uses a unique closed-loop approach. Therefore, you do not need to look for and wait for repair masters of different directions, to line up in schedules. Everyone who is needed for your project is already on the team and working simultaneously.
      li.construction__item
        .construction__icon
          img(src="assets/img/gif/03.gif" alt="Peak Construction")
        .construction__title.h3 Assurance<br>of safety
        .construction__text.body-s we use only durable materials and constructions that will last for years. Our company follows high-quality and safety standards and utilizes the best products and methods available.
      li.construction__item
        .construction__icon
          img(src="assets/img/gif/04.gif" alt="Peak Construction")
        .construction__title.h3 Increase<br>the property value
        .construction__text.body-s every dollar spent on the home renovation is your investment that increases the property value
//END   construction