//BEGIN copyright
.copyright
  .container
    .copyright__left
      span © Peak Construction Inc. 2022
      span Licence #1098148
    .copyright__right
      a(href="#" target="_blank") Privacy policy
      span Design <a href="https://www.behance.net/modern_hero" target="_blank">by Mate</a>
//END   copyright