//BEGIN copyright
.copyright
  .container
    .copyright__left
      span © Peak Construction Inc. 2024
      span License #1098148
    .copyright__right
      a(
        href="https://peakconstruction1.coastlandmedia.co/privacy" 
        target="_blank") Privacy policy
      a(
        href="https://peakconstruction1.coastlandmedia.co/termsconditions" 
        target="_blank") Terms & Conditions
      span Design <a href="https://www.behance.net/modern_hero" target="_blank">by Mate</a>
//END   copyright