//BEGIN footer
footer#footer.footer
  .container
    .footer__left
      .section-title.caps Ready to give a new life to your home?
    .footer__right
      .footer__title.h2 Call us – <a href="tel:9167101007">(916) 710-1007</a>
      .footer__or.h4 or
      .footer__title.h2 Fill out the form
      form.footer__form#footer__form
        .footer__form-row
          input(name="name" placeholder="Full name *" required).footer__input
          input(name="phone" placeholder="Mobile phone *" required).footer__input
        .footer__form-row
          input(name="useremail" placeholder="Email *" required).footer__input
          input(name="zip" placeholder="ZIP *" required).footer__input
        .footer__form-row
          textarea(name="description" placeholder="Describe your task *").footer__textarea
        .footer__form-bottom
          .footer__form-bottom-text.tech By clicking the send request button, you consent to the processing of personal data and agree to our privacy policy.
          button.btn-arrow.footer__form-btn
            span Send Request
            +svg('btn-arr')
        .footer__form-message#footer__form-message
          |The application has been sent successfully. We’ll contact you soon.
      
//END   footer