//BEGIN header
header.header
  .container
    a(href="/").header__logo
      img(src="assets/img/logo.svg" alt="Peak Construction")
    a(href="tel:9167027197").header__phone (916) 702-7197
//END   header