//BEGIN header
header.header
  .container
    a(href="/").header__logo
      img(src="assets/img/logo.svg" alt="Peak Construction")
    a(href="tel:8337020545").header__phone (833) 702-0545
//END   header