//BEGIN header
header.header
  .container
    a(href="/").header__logo
      img(src="assets/img/logo.svg" alt="Peak Construction")
    a(href="tel:+9167101007").header__phone 916 710 1007
//END   header