//BEGIN map
#map.map.p-100.bb
  .container
    //BEGIN map__header
    .map__header
      .section-title.caps 100+ projects in the Greater Sacramento area
      h2.title.h2 Our crews service the Greater Sacramento area including Carmichael, Fair Oaks, Citrus Heights, West Sacramento, Folsom, Granite Bay, Orangevale, Land Park, Mckinley Park, East Sac, Pocket, Rocklin Roseville, and more.
    //END   map__header
    .map__body
      img(src="assets/img/map.jpg" alt="map")
      h2.map__title.h1 100+ <br>project
//END   map