//BEGIN projects
#projects.projects.p-100.bb
  .container
    //BEGIN projects__header
    .projects__header
      .projects__header-left
        .section-title.caps our projects
      .projects__header-right
        h2.title.h2 This is what it looks like
    //END   projects__header

    include ../sliders/projects-slider
//END   projects