//BEGIN repairs
#repairs.repairs.p-100.bb
  .container
    //BEGIN repair
    .repair
      .repair__left
        .repair__title.caps Interior repairs
      .repair__right
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Whole House
          +svg('btn-arr')
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Kitchen Renovation
          +svg('btn-arr')
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Bathroom Remodeling
          +svg('btn-arr')
    //END   repair

    //BEGIN repair
    .repair
      .repair__left
        .repair__title.caps EXterior repairs
      .repair__right
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Siding
          +svg('btn-arr')
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Dry Rot Repair
          +svg('btn-arr')
        a(href="#footer").repair__row.scroll
          .repair__text.h3 Deck and Patio
          +svg('btn-arr')
    //END   repair

    .repairs__footer
      .repairs__footer-item Did not find the service in the list? <a href="#footer" class="scroll">Contact us</a>
//END   repairs