//BEGIN services
#services.services.p-100.bb
  .container
    //BEGIN services__header
    .services__header
      .services__header-left
        .section-title.caps What we can
      .services__header-right
        h2.title.h2 Get renovation services tailored to your style, preferences, and budget
    //END   services__header

    //BEGIN services__cards
    .services__cards
      //BEGIN services__card
      .services__card
        .services__card-item
          .services__card-num.h2 1
        .services__card-item
          .services__card-text.h3 Perhaps you want to renovate the whole house? Maybe you want to do a total knockdown and rebuild, giving you a fresh new home with a friendly price tag.
      //END   services__card
      //BEGIN services__card
      .services__card
        .services__card-item
          .services__card-num.h2 2
        .services__card-item
          .services__card-text.h3 Or maybe you've been wanting to do a garage conversion, maximizing your living space without having to add on and take up yard space.
      //END   services__card
      //BEGIN services__card
      .services__card
        .services__card-item
          .services__card-num.h2 3
        .services__card-item
          .services__card-text.h3 Or you’ve been searching for a backyard upgrade adding a new pergola or deck?
      //END   services__card
      //BEGIN services__card
      .services__card
        .services__card-item
          .services__card-num.h2 4
        .services__card-item
          .services__card-text.h3 Possibly your business is connected with real estate and you are looking for reliable partners.
      //END   services__card
    //END   services__cards

  include ../sliders/services-slider
//END   services