//BEGIN start
#start.start
  .start__video
    iframe(src="https://player.vimeo.com/video/797977700?background=1")
  .container
    //BEGIN right
    .start__right
      .start__subtitle.h3 If everything suits you, we will start work.
      h1.start__title.h1 And you can <br>just relax.
      .start__down
        a(href="#footer").start__down-btn.scroll
          +svg('arr-down')
        .start__down-text.caps Let’s start now
    //END   right
//END   start