//BEGIN steps
#steps.steps.p-100.bb
  .container
    //BEGIN steps__header
    .steps__header
      .steps__header-left
        .section-title.caps LET'S GET STARTED!
      .steps__header-right
        h2.title.h2 It's so easy to get the ball rolling for a new project with us - reach out today for a FREE estimate.
    //END   steps__header

    //BEGIN steps__body
    .steps__body
      ul.steps__list
        li.steps__item
          .steps__num
            span.h4 1
          .steps__text.h4 Reach out to us on your terms: text us using our chat widget, fill out our form below, or just give us a call.
        //- li.steps__item
          .steps__num
            span.h4 2
          .steps__text.h4 Our representative will come over to you to walk the job if necessary to give you the number and approximately days start and finish.
        li.steps__item
          .steps__num
            span.h4 2
          .steps__text.h4 We pride ourselves on quick response times and getting you booked on our calendar FAST for a walk-through and comprehensive estimate.
    //END   steps__body
//END   steps