//BEGIN steps
#steps.steps.p-100.bb
  .container
    //BEGIN steps__header
    .steps__header
      .steps__header-left
        .section-title.caps How can we start renovation for you?
      .steps__header-right
        h2.title.h2 It’s quite easy to start with us – like 1-2-3 and we do free estimates, sure
    //END   steps__header

    //BEGIN steps__body
    .steps__body
      ul.steps__list
        li.steps__item
          .steps__num
            span.h4 1
          .steps__text.h4 Call us, email us, or fill up the form on the page.
        li.steps__item
          .steps__num
            span.h4 2
          .steps__text.h4 Our representative will come over to you to walk the job if necessary to give you the number and approximately days start and finish.
        li.steps__item
          .steps__num
            span.h4 3
          .steps__text.h4 You get a detailed, all-inclusive estimation of the project and schedule of all stages of work.
    //END   steps__body
//END   steps