//BEGIN top
#top.top
  .top__video
    iframe(src="https://player.vimeo.com/video/797974554?background=1")
  .container
    //BEGIN left
    .top__left
      a(href="#services").top__btn-down.scroll
        +svg('arr-down')
      .top__slider
        include ../sliders/top-slider
    //END   left

    //BEGIN right
    .top__right
      h1.top__title Achieve a beautiful new look for your home with timeliness, quality, and precision.
      h4.top__subtitle.h4 Home Improvement Company Providing Interior And Exterior Property Upgrades In Greater Sacramento Area
      a(href="#footer").btn-arrow.scroll.top__btn
        span Get in Touch
        +svg('btn-arr')
      .top__licence.tech License #1098148
    //END   right
//END   top