extends ../_template

block variables
  - let title       = 'Peak Construction'
  - let description = 'Peak Construction'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      include ../sections/top
      include ../sections/services
      include ../sections/about
      include ../sections/repairs
      include ../sections/construction
      include ../sections/projects
      include ../sections/map
    //end content

    include ../sections/footer
    include ../sections/scripts
