.services-slider-wrap {
  overflow: hidden;
  background-color: #fff;
  padding-top: 30px;
  @include min(768) {
  padding-top: 75px;

  }
}

.services-slider {
  position: relative;
}

.services-slider__img {
  display: block;
  width: 100%;
  cursor: grab;
  text-decoration: none;

  img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
