//BEGIN project-06
.swiper-slide.projects-slider__item
  //BEGIN left
  .projects-slider__item-left
    include ../../sliders/projects-sm-slider-6
  //END   left
  //BEGIN right
  .projects-slider__item-right
    .projects-slider__title.h3 One story house in Citrus Heights, CA
    .projects-slider__subtitle.body-l Full home remodel in Citrus Heights. The whole house was torn to the studs.
    .projects-slider__descr
      .projects-slider__descr-title.h4 Key features:
      .projects-slider__descr-title.body-m Full home remodel in Citrus Heights. The whole three bedroom and two bathrooms house was torn to the studs. Some walls were removed some were added to get new living space for the owners. Lots of plumbing and carpentry work we did during the construction. A large picture window as an accent in the kitchen and a beautiful island for cooking and serving. Electric fireplace with mantel in the living room and a built-in bookshelf on the side. Also cedar rustic beams we mounted on the ceiling work good together with the modern chandelier. Both bathrooms were waterproof with Kerdy Schluter membrane and finished with tiles. New vanities, faucets, mirrors and lights. The old entry door was replaced with the new craftsman style door and trim.
    .projects-slider__footer
      .projects-slider__footer-item Would you like to order a calculation for your project? <a href="#footer" class="scroll">Contact us</a>
  //END   right
//END   project-06