//BEGIN project-05
.swiper-slide.projects-slider__item
  //BEGIN left
  .projects-slider__item-left
    include ../../sliders/projects-sm-slider-5
  //END   left
  //BEGIN right
  .projects-slider__item-right
    .projects-slider__title.h3 Sliding doors installation
    .projects-slider__subtitle.body-l A 16 foot Andersen sliding doors were installed.
    .projects-slider__descr
      .projects-slider__descr-title.h4 Key features:
      .projects-slider__descr-title.body-m Another project in Rocklin. A small old sliding doors were replaced with 16 foot Andersen sliding doors. To make it happen we removed the attached patio, supported a section of the ceiling and cut the opening for the new slider and installed a glulam beam. Then patched the stucco on the exposed area and put the aluminum patio back. Also all drywall patches were done with painting repairs.
    .projects-slider__footer
      .projects-slider__footer-item Would you like to order a calculation for your project? <a href="#footer" class="scroll">Contact us</a>
  //END   right
//END   project-05