//BEGIN project-03
.swiper-slide.projects-slider__item
  //BEGIN left
  .projects-slider__item-left
    include ../../sliders/projects-sm-slider-3
  //END   left
  //BEGIN right
  .projects-slider__item-right
    .projects-slider__title.h3 Dry rot repairs
    .projects-slider__subtitle.body-l Peak Construction Inc offers dry rot repair services.
    .projects-slider__descr
      .projects-slider__descr-title.h4 Key features:
      .projects-slider__descr-title.body-m Unfortunately wood gets rotten and destroyed by the moisture and organisms. We do a range of exterior repair jobs. From siding and trim to the roof and other structural repairs.
    .projects-slider__footer
      .projects-slider__footer-item Would you like to order a calculation for your project? <a href="#footer" class="scroll">Contact us</a>
  //END   right
//END   project-03