//BEGIN project-01
.swiper-slide.projects-slider__item
  //BEGIN left
  .projects-slider__item-left
    include ../../sliders/projects-sm-slider-1
  //END   left
  //BEGIN right
  .projects-slider__item-right
    .projects-slider__title.h3 One story house in Fair Oaks
    .projects-slider__subtitle.body-l The whole house in Fair Oaks was remodeled by Peak Construction Inc.

    //-.projects-slider__info
      .projects-slider__info-item
        span.caps Total budget:
        span.h3 $12,856
      .projects-slider__info-item
        span.caps Terms:
        span.h3 2 months

    .projects-slider__descr
      .projects-slider__descr-title.h4 Key features:
      .projects-slider__descr-title.body-m The walls and ceiling were skim coated and textured to the imperfect smooth surface, a new kitchen with built in fridge and all new appliances, faucet and everything you can see. A beautiful Roman cast iron bath tub with the rain shower head is surrounded with custom fabricated quartz slabs. Lots and lots to list of what was done to this house.
    .projects-slider__footer
      .projects-slider__footer-item Would you like to order a calculation for your project? <a href="#footer" class="scroll">Contact us</a>
  //END   right
//END   project-01