//BEGIN project-04
.swiper-slide.projects-slider__item
  //BEGIN left
  .projects-slider__item-left
    include ../../sliders/projects-sm-slider-4
  //END   left
  //BEGIN right
  .projects-slider__item-right
    .projects-slider__title.h3 Exterior renovations
    .projects-slider__subtitle.body-l Custom built backyard pergolas, patios, decks, and other ornamental structures.
    .projects-slider__descr
      .projects-slider__descr-title.h4 Key features:
      .projects-slider__descr-title.body-m Peak Construction is specialized in building shade structures, decks to help you create the atmosphere to enjoy the outdoors with your friends and family.
    .projects-slider__footer
      .projects-slider__footer-item Would you like to order a calculation for your project? <a href="#footer" class="scroll">Contact us</a>
  //END   right
//END   project-04